@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



:root {
    /* change the values below to your colors from your palette */
    --primary-color: #C70707;
    --secondary-color: #05134A;
    --accent1-color: #F3A712;
    --accent2-color: #A8C686;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Courgette', cursive;
    --paragraph-font: 'Roboto Serif', serif;


    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #05134a;
    /* headlines on a white background */
    --headline-color-on-color: #fb0f07;
    /* headlines on a colored background */
    --paragraph-color-on-white: #F3A712;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #A8C686;
    /* paragraph text on a colored background */
    --paragraph-background-color: #05134a;
    --nav-link-color: #fb0f07;
    --nav-background-color: #fb0f07;
    --nav-hover-link-color: #F3A712;
    --nav-hover-background-color: #05134a;
}


@media screen and (max-width: 900px) {


    header,
    nav,
    main,
    footer {
        display: block;
    }

}

body {
    background-color: #A8C686;
    font-family: var(--paragraph-font);
    font-size: 15px;
    color: var(--accent3-color);
    margin: auto;
    padding: 4em;
    max-width: 1200px;
    font-size: 18px;
    text-align: center;
    display: flex;

}

.logo {
    width: 110px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: #C70707;
    height: 10%;
    padding: auto;
}

.logo:hover {
    opacity: .3;
    transform: scale(1.6);

}

#logolink {
    width: 20%;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;


}


h2,

h3,

h4,

h5,

h6 {

    font-family: var(--heading-font);

    font-weight: 700;

    color: var(--secondary-color);

}

h1 {
    font-style: italic;
    color: #C70707;
    font-size: 2.5em;
    font-family: var(--heading-font);
    background-color: #F3A712;
    border-radius: 50px;
    text-align: center;
}
.h11{
    background-color: #C70707;
    color: #A8C686;
}
.nes1{
    border: 6px solid #F3A712;
    margin:0%;
    box-shadow: 4px 4px 6px 6px #C70707;
}
.nes1:hover{
    opacity: .3;
    transform: scale(1.2);
    
}
.pac{
    border: 6px solid #F3A712;
    width: 700px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 6px 6px #C70707;
}


.firstimage {
    min-height: fit-content;
    padding-left: 40px;
    box-shadow: 10px 10px 10px 10px #C70707;
    image-rendering: crisp-edges;
    margin-bottom: 40px;
    margin-right: 60%;
    margin-left: 10%;
    background-color: #05134A
}

.secondimage {
    margin-top: 2%;
    margin-left: 25%;

}

p {
    font-family: var(--paragraph-font);
    font-style: inherit;
    color: #05134a;
    font-size: x-large;
    font-weight: 500;

}

.headtext {
    font-family: var(--paragraph-font);
    font-weight: bolder;
    color: #05134a;
}

h2 {

    font-size: 2em;

}

h3 {

    font-size: 1.75em;

}

h4 {

    font-size: 1.5em;

}

h5 {

    font-size: 1.25em;

}

h6 {

    font-size: .75em;

}

img {

    max-width: 100%;

}

p {

    padding: 20px;
    margin: 0;

}


.next,
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next:hover {

    background-color:#C70707;
}
 .previous:hover {
    background-color:#05134a;
}
.previous {
    background-color: #F3A712;
    color: #C70707;
    border-radius: 100%;
    padding: 20px;
    height: 10%;
    margin-top: 5px;
    margin-right: 10px;
    border: 4px solid #A8C686;
}

.next {
    background-color: #F3A712;
    color: #05134A;
    font-weight: bolder;
    border-radius: 100%;
    padding: 20px;
    height: 10%;
    margin-top: 3px;
    border: 4px solid #A8C686;


}


/****************************************************************

* *

* default properties for all pages *

* *

*****************************************************************/


/*  This rule name changes based upon the default button color   */

.btn-blue {

    background-color: var(--primary-color);

    padding: 1em 6em;

    color: var(--accent2-color);

}

.buttons {

    grid-column: 1/-1;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    margin: 0 30px;

    border-radius: 20px;

}

/*  This is the default grid layout for all grids. Other grids can be defined as needed. */

.grid-default {

    display: grid;

    grid-template-columns: repeat(1, 6fr);

    gap: 3em 0;

}



/****************************************************************

* *

* header area properties *

* *

*****************************************************************/

header {

    display: grid;

    grid-template-columns: 250px auto;

    align-items: center;

    background-color: var(--secondary-color);
    margin-bottom: 50px;

}

nav {

    display: grid;

    display: flex;
}

nav a {
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    color: #A8C686;
    font-family: 'Roboto Serif';
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    max-height: 1%;
    transition: transform.5s;
}

nav a:hover {

    opacity: .6;
    transform: scale(1.2);
}


/*  HTML format for these next 2 rules

*    <a class="nav-item" href="...">...</a>    */





nav a:hover {
    color: #F3A712;
}



/****************************************************************

* *

* footer area properties *

* *

*****************************************************************/

footer {

    background-color: #F3A712;
    color: var(--accent2-color);
    justify-content: space-around;
    height: 110px;
    align-items: center;
    display: flex;
    font-weight: bolder;


}

.rite {
    color: #05134a;
}

.rite:hover {
    background-color: #F3A712;
}

.social {
    display: flex;
    align-items: center;
    margin-left: 25%;
    padding-left: 3%;
    border-radius: 40%;
    transform-style: preserve-3d;
}



.site:hover {
    color: #F3A712;
    background-color: #A8C686;
    border-radius: 50%;
}

